<div class="main-section position-relative">
    <header>
        <div class="container">
            <div class="header-content d-flex flex-wrap align-items-center">
                <div class="logo"><a href="index.php" title=""><img src="./assets/images/logi.jpg"
                            style="width: 70px;"></a></div>
                <!--logo end-->

                <!--contact-information end-->
                <div class="menu-btn"><a href="#"><span class="bar1"></span> <span class="bar2"></span> <span
                            class="bar3"></span></a></div>
                <!--menu-btn end-->
            </div>
            <!--header-content end-->
            <div class="navigation-bar d-flex flex-wrap align-items-center">
                <nav>
                    <ul>
                        <li><a class="active" href="index.php" title="">Home</a></li>
                        <li><a href="about.php" title="">About</a>

                        </li>

                        <li><a href="contacts.php" title="">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <!--navigation-bar end-->
        </div>
    </header>
    <!--header end-->
    <div class="responsive-menu">
        <ul>
            <li><a href="index.php" title="">Home</a></li>
            <li><a href="about.php" title="">About</a></li>
            <li><a href="contacts.php" title="">Contacts</a></li>
        </ul>
    </div>
    <!--responsive-menu end-->
  
    <!--main-banner end-->
</div>
<!-- <script src="./../assets/js/bundle.min.js"></script> -->
